h2, h3, h4 {
  color: #6a272d;
  font-family: 'Oswald', arial, serif;
  font-weight: bold;
}

h1 { 
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
  padding: 6px 0;
}

body {
  background-color: #6a272d;
  font-family: Arial, serif;
}


/*================ Header =======================*/
#header {
  background: url('../img/background.png');
  height: 725px;
  margin: 0 auto;
  padding: 0;
}

#header h1 {
  width: 600px;
  margin: 0 auto;
  color: #FFF;
  font-size: 64px;
  position: relative;
}

#header h1 span {
  left: 182px;
  position: absolute;
  top: 60px;
}

#branding {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

#header p {
  color: #FFF;
  margin: 55px auto;
  padding-right: 50px;
  text-align: right;
  width: 600px;
}

#header h2 {
  color: #FFF;
  text-align: center;
}

.arrow {
  background: url('../img/arrow.png') no-repeat; 
  position: absolute;
  left: 30px;
}

.arrow a {
  display: block;
  width: 173px;
  height: 193px;
}


/*================ Container =======================*/

#container {
  background: rgba(255, 255, 255, 0.9);
  background-color: #fde57d;
  padding: 35px 0;
}

#container ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

#inner-container {
  background: #FFF;
}

#information-main {
  background: #FFF;
  padding: 6px 12px;
}

/*================ Footer =======================*/
#footer {
  background: #6A272D;
  border-top: 1px solid rgba(0, 120, 193, 0.4);
}

/*================ Place =======================*/

#place-info ul li strong {
  color: #702930;
  font-weight: bold;
}

#place-info ul {
  list-style: none;
}

#place-info ul li {
  margin: 6px 0;
}

/*================ Extras =======================*/

.box {
  box-shadow: 2px 2px 2px #888;
  background: #FFF;
  margin: 6px 0;
  padding: 6px;
  -moz-border-radius: 2px;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
}


