h2, h3, h4 {
  color: #6a272d;
  font-family: 'Oswald', arial, serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 { 
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  padding: 6px 0;
}

h4 {
  font-size: 16px;
  padding: 6px 0;
}

p {
  font-size: 16px;
  line-height: 1.5em;
  padding: 6px 0;
}

body {
  background-color: #6a272d;
  font-family: Arial, serif;
}

a {
  color: #6A272D;
  font-weight: bold;
}

#blockquote {
  font-style: italic;
  padding: 12px 20px 24px 20px;
  background: #fff;
  margin-bottom: 12px;
  color: #6A272D;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
}

#blockquote blockquote {
  text-align: center;
  font-weight: bold;
}


#blockquote blockquote strong {
  color: #6A272D;
}

strong {
  color: #6A272D;
}


/*================ Header =======================*/
#header {
  background: url('../img/background.png');
  height: 725px;
  margin: 0 auto;
  padding: 0;
}

#header h1 {
  width: 600px;
  margin: 0 auto;
  color: #FFF;
  font-size: 64px;
  position: relative;
}

#header h1 span {
  left: 182px;
  position: absolute;
  top: 60px;
}

#branding {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

#header p {
  color: #FFF;
  margin: 55px auto;
  padding-right: 50px;
  text-align: right;
  width: 600px;
}

#header h2 {
  color: #FFF;
  text-align: center;
}

.arrow {
  background: url('../img/arrow.png') no-repeat; 
  position: absolute;
  left: 30px;
}

.arrow a {
  display: block;
  width: 173px;
  height: 193px;
}


/*================ Container =======================*/

#container {
  background: url('../img/container_background.jpg') repeat-x;
  background-color: #fde57d;
  padding: 35px 0;
}

#container ul {
  list-style: none;
  margin-left: 0;
}

#inner-container {
  background: #FFF;
}

#information-main {
  background: #FFF;
  padding: 6px 12px;
}

#container a:hover {
  background: #61272d;
  color: #fff;
}

#info p {
  padding: 6px 0px 12px 0;
}

/*================ Footer =======================*/
#footer {
  background: #6A272D url('../img/buildings.png') repeat-x 20px 0;
}

#sponsors {
  padding: 35px 0;
  margin-top: 70px;
}

#sponsors ul {
  list-style: none;
}

#sponsors ul li {
  float: left;
  margin-right: 45px;
}

#sponsors ul li.last {
  margin-right: 0;
}

#sponsors ul li a:hover img {
  background: #fff;
  -moz-border-radius: 2px;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
}

/*================ Place =======================*/

#place-info ul li strong {
  color: #702930;
  font-weight: bold;
}

#place-info ul {
  list-style: none;
}

#place-info ul li {
  margin: 6px 0;
}

/*================ Schedule =======================*/
#schedule-info li strong {
  color: #702930;
  font-weight: bold;
}

#schedule-info ul {
  margin: 0;
  padding: 0;
}

#schedule-info ul li {
}

#schedule-info ul li {
  background-color: #DFDFDF; 
  line-height: 1.5em;
  margin-bottom: 12px;
  padding: 12px;
  -moz-border-radius: 2px;
  font-weight: bold;
}

#schedule-info ul li a {
}


/*================ Who Should Go =======================*/
#whoshouldgo h2 {
  margin-left: 10px;
}

#whoshouldgo p {
  padding: 6px 0px 12px 0;
}
/*================ Extras =======================*/

.box {
  box-shadow: 2px 2px 2px #888;
  background: #FFF;
  margin: 6px 0;
  padding: 6px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
}

.destacar {
  background-color: #DFDFDF; 
  padding: 12px;
  -moz-border-radius: 2px;
}

.destacar p {
  font-weight: bold;
}

.name {
  text-align: right;
  padding-top: 0;
}

.column {
  border-right: 1px solid #6A272D;
}

p.column.last {
  border-right: none;
}

#main {
  margin-bottom: 12px;
}

.hour {
  text-transform: uppercase;
}

.column strong {
  color: #6A272D;
}
